{% include 'sitio/cabecera.html' %}

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="h-100 p-5 text-white bg-primary border rounded-3">
                    <h1 class="display-3 text-center">Welcome Reader</h1>
                    <p class="lead text-center">
                        Bienvenido a nuestra librería online, un espacio creado para todos aquellos apasionados por la lectura y el aprendizaje. Creemos que cada libro es una puerta a nuevos mundos, ideas y conocimientos, y queremos hacer que el acceso a ellos sea más fácil y dinámico.
                    </p>
                    <hr class="my-4">
                    <div class="text-center">
                        <a class="btn btn-light btn-lg" href="/libros" role="button">Ver catálogo de Libros</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>


{% include 'sitio/pie.html' %}

