{% include 'sitio/cabecera.html' %}


<!doctype html>
<html lang="es">
<head>
    <title>Leer Libro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-header text-center">
                <h2><i class="fa-solid fa-book"></i> {{ libro[1] }}</h2>
            </div>
            <div class="card-body text-center">
                <iframe src="{{ libro[3] }}" width="100%" height="600px"></iframe>
                <a href="/libros" class="btn btn-secondary mt-3">
                    <i class="fa-solid fa-arrow-left"></i> Volver a la lista
                </a>
            </div>
        </div>
    </div>
</body>
</html>

<br><br><br><br>
{% include 'sitio/pie.html' %}