{% include 'admin/cabecera.html' %}
<body>
    

<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">Datos del libro</div>
                <div class="card-body">
                    <form action="/admin/libros/guardar" method="post" enctype="multipart/form-data">
                       
                        <div class="mb-3">
                            <label for="txtNombre" class="form-label">Nombre:</label>
                            <input
                                type="text"
                                class="form-control"
                                name="txtNombre"
                                id="txtNombre"
                                aria-describedby="helpId"
                                placeholder="Escriba el nombre del titulo"
                            />

                        </div>

                        <div class="mb-3">
                            <label for="txtImagen" class="form-label">Imagen:</label>
                            <input
                                type="file"
                                class="form-control"
                                name="txtImagen"
                                id="txtImagen"
                                aria-describedby="helpId"
                                placeholder="Seleccione la imagen"
                            />

                        </div>


                        <div class="mb-3">
                            <label for="txtURL" class="form-label">URL Descarga:</label>
                            <input
                                type="text"
                                class="form-control"
                                name="txtURL"
                                id="txtURL"
                                aria-describedby="helpId"
                                placeholder="Escriba la URL de descarga"
                            />
                        
                        </div>

                        <div class="mb-3">
                            <label for="txtGenero" class="form-label">Genero: </label>
                            <br>                        
                            <select id="txtGenero" name="txtGenero">
                                <option value="Seleccionar">Selecciona el genero del libro</option>
                                <option value="Idiomas">Idiomas</option>
                                <option value="Literatura">Literatura</option>
                                <option value="Programación">Programación</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="txtDescripcion" class="form-label">Descripcion: </label>
                            <br>                        
                            <textarea name="txtDescripcion" id="" cols="50" rows="10" placeholder="Resumen del libro.."></textarea>
                        </div>

                        <div class="form-group mb-3">
                            <label for="txtPrecio">Precio (Pesos Colombianos)</label>
                            <input type="number" step="0.01" name="txtPrecio" required class="form-control">
                        </div>

                        
                        <button
                            type="submit"
                            class="btn btn-primary"
                        >
                            Agregar
                        </button>
                        
                    </form>




                </div>
                <div class="card-footer text-muted">

                </div>
            </div>
        </div>
        <div class="col-md-7">

            <div class="table-responsive">
    <table class="table table-primary table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>URL</th>
                <th>Género</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
            <tr>
                <td>{{ libro[0] }}</td> <!-- ID -->
                <td>{{ libro[1] }}</td> <!-- Nombre -->
                <td>
                    <img width="60" src="/img/{{ libro[2] }}" class="img-fluid rounded-top" alt="Libro">
                </td> <!-- Imagen -->
                <td>
                    <a class="btn btn-success" href="{{ libro[3] }}" role="button">{{ libro[1] }}</a>
                </td> <!-- URL -->
                <td><a class="btn btn-info" href="#" role="button">{{ libro[4] }}</a></td> <!-- Género -->
                <td class="text-success fw-bold">${{ libro[6]|round(2) }}</td> <!-- Precio -->
                <td>
                    <form action="/admin/libros/borrar" method="post">
                        <input value="{{ libro[0] }}" type="hidden" name="txtID">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td> <!-- Acciones -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
            


        </div>

    </div>
</div>

</body>




{% include 'admin/pie.html' %}